<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:name=".ThreeStripApp"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="ThreeStrip"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ThreeStrip">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.ThreeStrip">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
